@model List<Student>
@{
    ViewData["Title"] = "Home Page";
}

<h3>Lista studentów</h3>
<div>
    <table class="table table-striped">
        <tr>
            <th>Lp</th>
            <th>Imię</th>
            <th>Nazwisko</th>
            <th>Wiek</th>
            <td></td>
        </tr>
        @{
            int lp = 0;
        }
        @foreach (var s in Model) {
            lp++;
            <tr>
                <td>@lp</td>
                <td>@s.FirstName</td>
                <td>@s.LastName</td>
                <td>@s.Age</td>
                <td>
                    <a class="btn btn-info" asp-action="Details" asp-route-id="@s.Id">Szczegóły informacji</a>
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@s.Id">Usuń</a>
                    <a class="btn btn-danger" asp-action="Update" asp-route-id="@s.Id">Zmień</a>
                </td>
            </tr>
        }
    </table>
    <a class="btn btn-info" asp-action="InsertStudent">Dodaj nowego studenta</a>
</div>

